## Sets

### Create an empty set

In [1]:
ex = set()
ex

set()

In [2]:
dir(ex)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [3]:
help(ex.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [4]:
print(ex,'\n')
ex.add(42)
ex.add(False)
ex.add('Hi')
ex

set()

{42, False, 'Hi'}

In [7]:
ex.update({'pig', 'cat'})
ex

{42, False, 'Hi', 'cat', 'pig'}

In [8]:
ex.update(['dog', 'horse'])
ex

{42, False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

### Sets are written within curly braces

In [9]:
set1 = {1,3,4,5,7,'Alice',True}
set1

{1, 3, 4, 5, 7, 'Alice'}

### There are no duplicates in a set

### Unlike lists, the order of elements doesn't matter => We cannot access individual values in a set.

In [10]:
print(ex,'\n')
ex.add(42)
ex

{False, 'pig', 'cat', 'horse', 'dog', 42, 'Hi'}

{42, False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

In [11]:
ex[0]

TypeError: 'set' object does not support indexing

In [12]:
set1 = {1,3,3,3,3,5}
set2 = {1,3,5}
print('set1: ',set1)
print('set2: ',set2)
print(set1 == set2)

set1:  {1, 3, 5}
set2:  {1, 3, 5}
True

### Length of the set

In [13]:
print('ex= ',ex)
len(ex)

ex=  {False, 'pig', 'cat', 'horse', 'dog', 42, 'Hi'}

7

### Remove an element from the set

In [15]:
print('ex= ',ex)
ex.remove(42)
ex

ex=  {False, 'pig', 'cat', 'horse', 'dog', 'Hi'}

KeyError: 42

In [16]:
print('ex= ',ex)
ex.discard('Hi')
ex

ex=  {False, 'pig', 'cat', 'horse', 'dog', 'Hi'}

{False, 'cat', 'dog', 'horse', 'pig'}

In [ ]:
#gives an error if element is not a member of the set
print('ex= ',ex)
ex.remove(42)
ex

In [17]:
#does nothing if element is not a member of the set
print('ex= ',ex)
ex.discard(42)
ex

ex=  {False, 'pig', 'cat', 'horse', 'dog'}

{False, 'cat', 'dog', 'horse', 'pig'}

### Creating a set in a different way

In [20]:
ex2 = set([1, 3, 5, 7, 11, 13, 'John'])
ex2

{1, 11, 13, 3, 5, 7, 'John'}

### Empty the set

In [21]:
print(ex2)
ex2.clear()
print(ex2)

{1, 3, 5, 7, 'John', 11, 13}
set()

### Union and intersection of 2 sets

In [22]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

In [23]:
print('odds: ', odds)
print('evens: ', evens)
odds.union(evens)

odds:  {1, 3, 5, 7, 9}
evens:  {2, 4, 6, 8, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
print('evens: ', evens)
print('odds: ', odds)
evens.union(odds)

evens:  {2, 4, 6, 8, 10}
odds:  {1, 3, 5, 7, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
print('odds: ', odds)
print('primes: ', primes)
odds.intersection(primes)

odds:  {1, 3, 5, 7, 9}
primes:  {2, 3, 5, 7}

{3, 5, 7}

In [26]:
print('primes: ', primes)
print('evens: ', evens)
primes.intersection(evens)

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2}

In [27]:
print('evens: ', evens)
print('odds: ', odds)
evens.intersection(odds)

evens:  {2, 4, 6, 8, 10}
odds:  {1, 3, 5, 7, 9}

set()

In [30]:
#in primes but not in odds
print('primes: ', primes)
print('odds: ', odds)
primes.difference(odds)

primes:  {2, 3, 5, 7}
odds:  {1, 3, 5, 7, 9}

{2}

### Binary operations

In [31]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

### AND

In [32]:
print('primes: ', primes)
print('evens: ', evens)
primes & evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2}

### OR

In [35]:
print('primes: ', primes)
print('evens: ', evens)
primes | evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2, 3, 4, 5, 6, 7, 8, 10}

In [39]:
print('evens: ', evens)
print('primes: ', primes)
evens - primes

evens:  {2, 4, 6, 8, 10}
primes:  {2, 3, 5, 7}

{4, 6, 8, 10}

In [40]:
print('primes: ', primes)
print('evens: ', evens)
primes - evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{3, 5, 7}

### Check if element is in a set

In [41]:
print('odds: ', odds)
2 in odds

odds:  {1, 3, 5, 7, 9}

False

In [42]:
print('evens: ', evens)
2 in evens

evens:  {2, 4, 6, 8, 10}

True

In [43]:
print('odds: ', odds)
2 not in odds

odds:  {1, 3, 5, 7, 9}

True

In [46]:
#Sets are disjoint if and only if their intersection is the empty set.
a = {0, 1, 2}
a.isdisjoint({1})

False

In [ ]:
a = {0, 1, 2}
a.isdisjoint({3, 4})

### Convert list to set

In [47]:
list1 = [1, 3, 5, 5, 6, 7, 7, 7, 7]
print('list1: ', list1)

list1:  [1, 3, 5, 5, 6, 7, 7, 7, 7]

In [48]:
set1 = set(list1)
print('set1: ', set1)

set1:  {1, 3, 5, 6, 7}

In [49]:
list(set1)

[1, 3, 5, 6, 7]

### Subset method

In [50]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1, 3, 5}
c = {1, 2, 2, 2}
print('a: ',a)
print('b: ',b)
print('c: ',c)

a:  {1, 2, 3, 4, 5, 6, 7}
b:  {1, 3, 5}
c:  {1, 2}

In [51]:
b.issubset(a)

True

In [52]:
c.issubset(a)

True

In [53]:
c.issubset(b)

False

### Copying a set

In [55]:
old_set = {1, 2, 3}
new_set = old_set

In [57]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3}

In [58]:
new_set.add('a')

In [59]:
#The old set is also modified
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3, 'a'}
new set:  {1, 2, 3, 'a'}

In [61]:
old_set = {1, 2, 3}
new_set = old_set.copy()

In [63]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3}

In [64]:
new_set.add('a')

In [65]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3, 'a'}