## List

In [1]:
ex = list()
dir(ex)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

```
While you can call these methods directly ([10, 20].__len__() for example), the presence of the underscores is a hint that these methods are intended to be invoked indirectly
```

In [2]:
help(ex.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

### Lists are written within square brackets

In [3]:
z = [3, 5, 9, 2]

In [4]:
x = [0] * 5
x

[0, 0, 0, 0, 0]

In [5]:
x = ['Hello'] * 4
x

['Hello', 'Hello', 'Hello', 'Hello']

In [6]:
x = ['Hello', 10, True] * 4
x

['Hello', 10, True, 'Hello', 10, True, 'Hello', 10, True, 'Hello', 10, True]

In [8]:
list1 = list(range(1,10,1))
list2 = list(range(1,10,2))
list3 = list(range(1,-10,-2))
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, -1, -3, -5, -7, -9]

In [7]:
range(1,10,1) #used in loops for efficiency

range(1, 10)

In [11]:
list1 = list(range(-10,1,1))
list2 = list(range(-10,1,2))
list3 = list(range(-10,-20,-2))
print(list1)
print(list2)
print(list3)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
[-10, -8, -6, -4, -2, 0]
[-10, -12, -14, -16, -18]

### Lists store data of different types

In [12]:
l1 = ['John', 'Anna', False, 1, 1, 2]
l1

['John', 'Anna', False, 1, 1, 2]

### Check if element is in list

In [14]:
l1

['John', 'Anna', False, 1, 1, 2]

1 in l1

In [17]:
'Alice' not in l1

True

### Accessing values in list

In [28]:
z = ['John', 'Anna', False, 1, 1, 4, 10, False]

In [29]:
#The first element is at index 0
print(z)
z[0]

['John', 'Anna', False, 1, 1, 4, 10, False]

'John'

In [30]:
#The second element is at index 1
print(z)
z[1]

['John', 'Anna', False, 1, 1, 4, 10, False]

'Anna'

In [31]:
#Access the last element of list
print(z)
z[-1]

['John', 'Anna', False, 1, 1, 4, 10, False]

False

In [32]:
#Access second from last element of list
print(z)
z[-2]

['John', 'Anna', False, 1, 1, 4, 10, False]

10

### Slicing lists

In [33]:
#The first index is inclusive and the second one is not
print(z)
z[1:3]

['John', 'Anna', False, 1, 1, 4, 10, False]

['Anna', False]

In [34]:
#Everything up to index 2
print(z)
z[:2]

['John', 'Anna', False, 1, 1, 4, 10, False]

['John', 'Anna']

In [35]:
#index 2 till the end of list
print(z)
z[2:]

['John', 'Anna', False, 1, 1, 4, 10, False]

[False, 1, 1, 4, 10, False]

### Minimum, Maximum, Length, Sum

In [36]:
z = [3, 5, 9, 2]

In [37]:
print(z, "\n")
print('minimum: ', min(z))
print('maximum: ', max(z))
print('length: ', len(z))
print('sum: ', sum(z))

[3, 5, 9, 2]

minimum:  2
maximum:  9
length:  4
sum:  19

### Count the number of times value is in list

In [38]:
list1 = [1, 3, 4, 5, 9, 10, 3]
list1.count(3)

2

### Reversing the list

In [39]:
list1.reverse()
list1

[3, 10, 9, 5, 4, 3, 1]

### Return first index of value

In [40]:
print(list1)
list1.index(3)

[3, 10, 9, 5, 4, 3, 1]

0

### You can specify where you start your search

In [41]:
print(list1)
list1.index(3, 3)

[3, 10, 9, 5, 4, 3, 1]

5

In [42]:
#random_list.index(value, start, stop)
print(list1)
list1.index(3, 1, 6)

[3, 10, 9, 5, 4, 3, 1]

5

### Copying a list

In [43]:
old_list = [1, 2, 3]
new_list = old_list

In [44]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3]

In [45]:
new_list.append('a')

In [46]:
#The old list is also modified
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3, 'a']
new list:  [1, 2, 3, 'a']

In [47]:
old_list = [1, 2, 3]
new_list = old_list.copy()

In [48]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3]

In [49]:
new_list.append('a')

In [50]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3, 'a']

### Empty the list

In [51]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2']]
print('List before clear():', list1)
# clearing all the list elements
list1.clear()

print('List after clear():', list1)

List before clear(): [{1, 2}, 'a', ['1.1', '2.2']]
List after clear(): []

In [61]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2']]
print('List before del:', list1)
# deleting some of the list elements
del list1[2:5]

print('List after del:', list1)

List before del: [{1, 2}, 'a', ['1.1', '2.2']]
List after del: [{1, 2}, 'a']

### Sorting a list

In [62]:
x = [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]
y = ['Steve', 'Alice', 'Jane', 'David'] 
print('x= ',x, '\n')
print('y= ',y)

x=  [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]

y=  ['Steve', 'Alice', 'Jane', 'David']

In [63]:
#increasing order
print('x= ',x, '\n')

x.sort()
print(x)

x=  [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11]

In [64]:
#decreasing order
print('x= ',x, '\n')

x.sort(reverse = True)
print(x)

x=  [1, 3, 3, 4, 4, 5, 7, 7, 9, 11]

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1]

In [65]:
#From A-Z, a-z
print('y= ',y, '\n')

y.sort()
print(y)

y=  ['Steve', 'Alice', 'Jane', 'David']

['Alice', 'David', 'Jane', 'Steve']

In [66]:
#From Z-A, z-a
y.sort(reverse = True)
print(y)

['Steve', 'Jane', 'David', 'Alice']

In [67]:
#uppercase first
y = ['Steve', 'alice', 'Jane', 'David']

print('y= ',y, '\n')

y.sort()
print(y)

y=  ['Steve', 'alice', 'Jane', 'David']

['David', 'Jane', 'Steve', 'alice']

In [69]:
#Sorting list without altering the original list
y = ['Steve', 'alice', 'Jane', 'David']
new_list = sorted(y)
print(new_list)
print(y)

['David', 'Jane', 'Steve', 'alice']
['Steve', 'alice', 'Jane', 'David']

### Add to the end of list

In [70]:
x

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1]

In [71]:
x.append(2)
x

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1, 2]

### Remove first occurence of value in list

In [72]:
print(x)
x.remove(7)
x

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1, 2]

[11, 9, 7, 5, 4, 4, 3, 3, 1, 2]

### Remove all occurances of a value from the list? -> lambda fuctions or loops

### Remove item at the index you provide

In [73]:
#will also return the item you remove
print(x,'\n')
x.pop(3)
print(x)

[11, 9, 7, 5, 4, 4, 3, 3, 1, 2]

[11, 9, 7, 4, 4, 3, 3, 1, 2]

### Extend (useful for concatenating lists)

In [74]:
print(x,'\n')
x.extend([4, 5])
print(x)

[11, 9, 7, 4, 4, 3, 3, 1, 2]

[11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5]

### You can also use + for concatenating lists

In [75]:
print('x= ',x,'\n')
print('y= ',y, '\n')
print('x+y= ',x+y)

x=  [11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5]

y=  ['Steve', 'alice', 'Jane', 'David']

x+y=  [11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5, 'Steve', 'alice', 'Jane', 'David']

### Insert item before the index you provide

In [76]:
print('x= ',x,'\n')
x.insert(4, [4, 5])
print(x)

x=  [11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5]

[11, 9, 7, 4, [4, 5], 4, 3, 3, 1, 2, 4, 5]

### Multidimentional lists

In [77]:
#create a 2D list, each element in this list is a list itself
list2 = [[1,2],[3,4],[5,6]]
list2

[[1, 2], [3, 4], [5, 6]]

In [78]:
print(list2,'\n')
print(list2[1])

[[1, 2], [3, 4], [5, 6]]

[3, 4]

In [79]:
print(list2,'\n')
print(list2[1][0])

[[1, 2], [3, 4], [5, 6]]

3

In [80]:
#create a 3D list, each element in this list is a list of lists
list3 = [ [ [1,0],[2,0] ],[ [3,4],[4,8] ],[ [5,-1],[6,-7] ] ]
list3

[[[1, 0], [2, 0]], [[3, 4], [4, 8]], [[5, -1], [6, -7]]]

In [83]:
print(list3,'\n')
print(list3[1])
print(list3[1][0])
print(list3[1][0][0])

[[[1, 0], [2, 0]], [[3, 4], [4, 8]], [[5, -1], [6, -7]]]

[[3, 4], [4, 8]]
[3, 4]
3

In [84]:
l = [[0]*4]*5
l

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [87]:
l[0][0] = 2
l

[[2, 0, 0, 0], [2, 0, 0, 0], [2, 0, 0, 0], [2, 0, 0, 0], [2, 0, 0, 0]]

In [88]:
l2 = [[0]*4 for i in range(4)]
l2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [89]:
l2[0][0] = 2
l2

[[2, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]